
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --size-mobile: 375px;
  --size-desktop: 1440px;
  --color-very-dark-grey: hsl(0, 0%, 17%);
  --color-dark-grey: hsl(0, 0%, 59%);
}

html{
  font-size: 62.5%;
}

body{
  max-width: var(--size-desktop);
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
}